<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Assembly Line Tracking System{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>

  {% include "layout/navbar.html" %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        {% include "layout/sidebar.html" %}
      </div>
      <div class="col-10 p-4">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
    const toggleBtn = document.getElementById("toggleSidebar");
    const sidebar = document.getElementById("sidebar");
    const main = document.querySelector(".main-content");
    
    toggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("collapsed");
      main.classList.toggle("collapsed");
    });
  </script>

</body>

</html>